body {
  font-family: 'Open Sans';
  font-weight: 300;
  background: #f5f5f5;
}
h1,
h2,
h3 {
  font-weight: 300;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
  color: #000;
}
form {
  padding: 15px 20px;
  border-bottom: 1px solid #ebebeb;
  background: #fff;
}
form fieldset {
  padding: 0;
  border: 0;
  margin-bottom: 20px;
}
form legend {
  font-weight: bold;
  padding: 10px 0;
}
form label {
  display: block;
  margin: 5px;
}
form input,
form textarea {
  padding: 3px 5px;
  display: block;
  font-family: 'Open Sans';
  border: 1px solid #c0c0c0;
  width: 100%;
}
form textarea {
  height: 10em;
}
table {
  width: 100%;
}
table td {
  border: 1px solid #e6e6e6;
  padding: 10px;
}
table input {
  margin: 0;
  padding: 0;
  width: auto;
}
button {
  background: #3a3a3a;
  padding: 5px;
  color: #c0c0c0;
  border: none 0;
}
button:hover {
  background: #444;
}
button:disabled {
  color: #444;
}
.page {
  margin-bottom: 60px;
}
.page h1,
.page .type,
.page .instance {
  font-size: 1.35em;
  padding-left: 20px;
  border-bottom: 1px solid #ebebeb;
  height: 60px;
  line-height: 60px;
  display: block;
  background: #fff;
}
.page h1 {
  background-color: #c30;
  color: #fff;
}
.page h1 .button {
  background-color: #a52900;
  border-color: #c30;
  color: #fff;
}
.page h1 .button:hover {
  border-color: #a52900;
  background-color: #c30;
  color: #fff;
}
.page .type,
.page .instance {
  cursor: pointer;
}
.page .type.selected,
.page .instance.selected {
  background: #f2f2f2;
}
.page .type {
  font-weight: 500;
  background: #f9f9f9;
}
.page .button {
  position: absolute;
  right: 0;
  height: 60px;
  width: 58px;
  text-align: center;
  display: inline-block;
  border-left: 1px solid #ebebeb;
  background: #fff;
  color: #3a3a3a;
  font-weight: 300;
}
.page .button:hover {
  background: #ebebeb;
  color: #3a3a3a;
}
.alerts {
  color: #c30;
  padding: 0;
  margin: 0;
  overflow: auto;
  list-style-type: none;
  font-weight: 700;
}
.alerts .error {
  border-bottom: 1px #eacac9 solid;
  background: #fdf9f9;
  color: #b94a48;
  padding: 15px 20px 13px;
}
.alerts .error span {
  font-weight: 300;
}
.alerts .warning {
  border-bottom: 1px #acd4ad solid;
  background: #d8ebd8;
  color: #468847;
  padding: 15px 20px 13px;
}
.alerts .warning span {
  font-weight: 300;
}
.actions {
  height: 60px/2;
  background: #3a3a3a;
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
}
.actions .buttons {
  text-align: center;
}
.actions .buttons button {
  line-height: 60px;
  padding: 0 25px;
  display: inline-block;
  margin-left: -4px;
  border-right: 1px solid #444;
}
.actions .buttons button:first-child {
  border-left: 1px solid #444;
}
