article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden] {
  display: none;
}
html {
  font-size: 100%;
/* 1 */
  -webkit-text-size-adjust: 100%;
/* 2 */
  -ms-text-size-adjust: 100%;
/* 2 */
}
html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}
body {
  margin: 0;
}
a:focus {
  outline: thin dotted;
}
a:hover,
a:active {
  outline: 0;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}
h3 {
  font-size: 1.17em;
  margin: 1em 0;
}
h4 {
  font-size: 1em;
  margin: 1.33em 0;
}
h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}
h6 {
  font-size: 0.75em;
  margin: 2.33em 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
blockquote {
  margin: 1em 40px;
}
dfn {
  font-style: italic;
}
mark {
  background: #ff0;
  color: #000;
}
p,
pre {
  margin: 1em 0;
}
pre,
code,
kbd,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}
q {
  quotes: none;
}
q:before,
q:after {
  content: '';
  content: none;
}
small {
  font-size: 75%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
dl,
menu,
ol,
ul {
  margin: 1em 0;
}
dd {
  margin: 0 0 0 40px;
}
menu,
ol,
ul {
  padding: 0 0 0 40px;
}
nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}
img {
  border: 0;
/* 1 */
  -ms-interpolation-mode: bicubic;
/* 2 */
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 0;
}
form {
  margin: 0;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
/* 1 */
  padding: 0;
  white-space: normal;
/* 2 */
  *margin-left: -7px;
/* 3 */
}
button,
input,
select,
textarea {
  font-size: 100%;
/* 1 */
  margin: 0;
/* 2 */
  vertical-align: baseline;
/* 3 */
  *vertical-align: middle;
/* 3 */
}
button,
input {
  line-height: normal;
/* 1 */
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
/* 1 */
  -webkit-appearance: button;
/* 2 */
  *overflow: visible;
/* 3 */
}
button[disabled],
input[disabled] {
  cursor: default;
}
input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
/* 1 */
  padding: 0;
/* 2 */
  *height: 13px;
/* 3 */
  *width: 13px;
/* 3 */
}
input[type="search"] {
  -webkit-appearance: textfield;
/* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
/* 2 */
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
/* 1 */
  vertical-align: top;
/* 2 */
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body {
  padding: 20px;
  font-family: 'Roboto Condensed';
  font-weight: 300;
  background: #f2f2f2;
  font-size: 16;
  color: #787878;
}
a {
  color: #6ed2dd;
  text-decoration: none;
}
h1,
h2,
h3,
h4 {
  margin-top: 12px;
}
header {
  padding-left: 20px;
  padding: 15px 20px;
  background: #2b3d50;
  color: #6ed2dd;
  text-transform: uppercase;
  color: #fff;
}
header span a {
  color: #fff;
}
header span a:hover {
  color: #6ed2dd;
}
header span:last-child a {
  color: #6ed2dd;
}
header span:last-child a:hover {
  color: #fff;
}
.capitalize {
  text-transform: capitalize;
}
i[class*='icon-'] {
  font-size: 14px;
}
.table {
  background: #fff;
  width: 100%;
  color: #787878;
}
.table tr:last-child td {
  border-bottom: 0 none;
}
.table tr th {
  background: #6ed2dd;
  color: #fff;
  height: 30px;
  text-align: left;
  padding-left: 20px;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 14px;
}
.table tr th i {
  margin-right: 5px;
}
.table tr td {
  border-bottom: 1px solid #f0f0f0;
  padding-left: 10px;
  height: 50px;
}
.table tr td:first-child {
  padding-left: 20px;
}
.table tr td:last-child {
  padding-right: 20px;
}
.table tr td:hover .hide {
  display: inline;
}
.table tr td.icon {
  width: 25px;
}
.table tr td.icon div {
  border-right: 1px solid #e3e3e3;
  padding-right: 5px;
}
.table tr td.clickable:hover {
  color: #6ed2dd;
  cursor: pointer;
}
.table tr td.buttons {
  text-align: right;
  width: 90px;
  font-size: 0;
}
.table tr td.buttons button {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  width: 25px;
  background: none;
  color: #787878;
  border-left: 1px solid #e3e3e3;
  -webkit-border-radius: 0;
  border-radius: 0;
  text-align: center;
}
.table tr td.buttons button:disabled {
  opacity: 0.25;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=25)";
  filter: alpha(opacity=25);
}
.table tr td.buttons button:hover {
  color: #6ed2dd;
}
.table tr td.buttons button:last-child {
  border-right: 1px solid #e3e3e3;
}
.table tr td.buttons button.confirm {
  color: #e74c3c;
}
.table tr td .hide {
  color: #cacaca;
  font-size: 0.8em;
  text-transform: uppercase;
  display: none;
}
form {
  font-size: 0.85em;
}
form fieldset {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  border: 0;
  background: #fff;
  position: relative;
  padding: 65px 20px 20px;
  overflow: hidden;
}
form legend {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: #6ed2dd;
  color: #fff;
  height: 30px;
  text-align: left;
  padding-left: 20px;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 30px;
}
form legend i {
  margin-right: 5px;
}
form label {
  display: block;
  margin-bottom: 8px;
  text-transform: uppercase;
}
form input,
form textarea {
  width: 100%;
  margin-bottom: 12px;
  border: 1px solid #e3e3e3;
  padding: 5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
form textarea {
  height: 10em;
}
form input[type=checkbox],
form input[type=button],
form input[type=submit] {
  width: auto;
}
form button,
form input[type=button],
form input[type=submit],
form .button {
  font-size: 12px;
  text-transform: uppercase;
  background: #6ed2dd;
  color: #fff;
  border: 0 none;
  padding: 6px 25px;
}
form button:disabled,
form input[type=button]:disabled,
form input[type=submit]:disabled,
form .button:disabled {
  background: #787878;
  color: #fff;
}
form table {
  margin-bottom: 12px;
  width: 100%;
}
form table td,
form table th {
  border: 1px solid #e3e3e3;
  padding: 5px;
}
form .actions {
  padding: 10px 0 30px;
}
table.alerts th {
  background: #e74c3c;
}
table.alerts strong {
  font-weight: 300;
  text-transform: capitalize;
}
.popup {
  position: fixed;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  top: 0;
  left: 0;
  border: 10px solid #e3e3e3;
  background: #fff;
  padding: 20px;
  width: 100%;
  height: 100%;
}
.popup h2 {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: 300;
  font-size: 16px;
  margin-bottom: 1em;
}
@media screen and (min-width: 480px) {
  .popup {
    height: 220px;
    width: 440px;
    top: 50%;
    left: 50%;
    margin-top: -110px;
    margin-left: -220px;
  }
}
