body
  padding: 20px
  font-family: 'Roboto Condensed'
  font-weight: 300
  background: lighten(lightgray, 6)
  font-size: 16
  color: darkgray

a
  color: second
  text-decoration: none

h1,h2,h3,h4
  margin-top: 12px

header
  padding-left: 20px
  padding: 15px 20px
  background: first
  color: second
  text-transform: uppercase
  color: white
  
  span
    a
      color: white
      &:hover
        color: second

  span:last-child
    a
      color: second
      &:hover
        color: white

.capitalize
  text-transform: capitalize

i[class*='icon-']
  font-size: 14px

.table
  background: white
  width: 100%
  color: darkgray

  tr

    &:last-child 
      td
        border-bottom: 0 none

    th
      header()

    td
      border-bottom: 1px solid lighten(lightgray, 5)
      padding-left: 10px
      height: 50px

      &:first-child
        padding-left: 20px

      &:last-child
        padding-right: 20px

      &:hover
        .hide
          display: inline

      &.icon
        width: 25px
        div
          border-right: 1px solid lightgray
          padding-right: 5px

      &.clickable:hover
        color: second
        cursor: pointer

      &.buttons
        text-align: right
        width: 90px
        font-size: 0

        button
          reset-box-model()
          width: 25px
          background: none
          color: darkgray
          border-left: 1px solid lightgray
          border-radius: 0
          text-align: center

          &:disabled
            opacity: 0.25

          &:hover
            color: second

          &:last-child
            border-right: 1px solid lightgray

          &.confirm
            color: #E74C3C

      .hide
        color: darken(lightgray, 10)
        font-size: .8em
        text-transform: uppercase
        display: none


form
  font-size: .85em

  fieldset
    reset-box-model()
    border: 0
    background: white
    position: relative
    padding: 65px 20px 20px
    overflow: hidden

  legend
    position: absolute
    top: 0
    left: 0
    width: 100%
    box-sizing: border-box
    header()
    line-height: 30px

  label
    display: block
    margin-bottom: 8px
    text-transform: uppercase

  input, textarea
    width: 100%
    margin-bottom: 12px
    border: 1px solid lightgray
    padding: 5px
    box-sizing: border-box

  textarea
    height: 10em

  input[type=checkbox], input[type=button], input[type=submit]
    width: auto

  button, input[type=button], input[type=submit], .button
    font-size: 12px
    text-transform: uppercase
    background: second
    color: white
    border: 0 none
    padding: 6px 25px

    &:disabled
      background: darkgray
      color: white

  table
    margin-bottom: 12px
    width: 100%

    td, th
      border: 1px solid lightgray 
      padding: 5px

  .actions
    padding: 10px 0 30px

table.alerts
  th
    background: third

  strong
    font-weight: 300
    text-transform: capitalize

.popup
  position: fixed
  box-sizing: border-box
  top: 0
  left: 0
  border: 10px solid lightgray
  background: white
  padding: 20px
  width: 100%
  height: 100%

  h2
    reset-box-model()
    font-weight: 300
    font-size: 16px
    margin-bottom: 1em
