first  = #CC3300
second = #38AFFF
third  = #EBEBEB
fourth = #3a3a3a
height = 60px

body
  font-family: 'Open Sans'
  font-weight: 300
  background: whitesmoke

h1, h2, h3
  font-weight: 300
  padding: 0
  margin: 0

a
  text-decoration: none
  color: black

form
  padding: 15px 20px
  border-bottom: 1px solid third
  background: white

  fieldset
    padding: 0
    border: 0
    margin-bottom: 20px

  legend
    font-weight: bold
    padding: 10px 0

  label
    display: block
    margin: 5px

  input, textarea
    padding: 3px 5px
    display: block
    font-family: 'Open Sans'
    border: 1px solid silver
    width: 100%

  input[type='checkbox']
    width: auto

  textarea
    height: 10em

table
  width: 100%

  td
    border: 1px solid lighten(silver, 15)
    padding: 10px

  input
    margin: 0
    padding: 0
    width: auto

button
  background: fourth
  padding: 5px
  color: silver
  border: none 0

  &:hover
    background: #444444

  &:disabled
    color: #444444

row()
  padding-left: 20px
  border-bottom: 1px solid third
  height: height
  line-height: height
  display: block
  background: white

selectable()
  cursor: pointer

  &.selected
    background: #f2f2f2

.page
  margin-bottom: height

  h1, .type, .instance
    font-size: 1.35em
    row()

  h1
    background-color: first
    color: white

    .button
      background-color: #a52900
      border-color: first
      color: white

      &:hover
        border-color: #a52900
        background-color: first
        color: white


  .type, .instance
    selectable()

  .type
    font-weight: 500
    background: #f9f9f9

  .button
    position: absolute
    right: 0
    height: height
    width: height - 2px
    text-align: center
    display: inline-block
    border-left: 1px solid third
    background: white
    color: fourth
    font-weight: 300

    &:hover
      background: third
      color: fourth

alert(color)

  border-bottom: 1px lighten(color, 35) solid
  background: lighten(color, 48)
  color: color
  padding: 15px 20px 13px

  span
    font-weight: 300

.alerts
  color: first
  padding: 0
  margin: 0
  overflow: auto
  list-style-type: none
  font-weight: 700

  .error
    alert(#B94A48)

  .warning
    alert(#468847)


.actions
  height: height / 2
  background: fourth
  position: fixed
  width: 100%
  bottom: 0
  left: 0

  .buttons
    text-align: center

    button
      line-height: height
      padding: 0 25px
      display: inline-block
      margin-left: -4px
      border-right: 1px solid #444444

      &:first-child
        border-left: 1px solid #444444
