!!! 5
html(ng-app='jungles')
  head
    title Jungles Content Management
    link(href='http://fonts.googleapis.com/css?family=Roboto+Condensed:300italic,400italic,700italic,400,300,700', rel='stylesheet', type='text/css')
    link(href='//netdna.bootstrapcdn.com/font-awesome/3.2.0/css/font-awesome.min.css', rel='stylesheet')

    link(rel='stylesheet', href='stylus/general.css')
    link(rel='stylesheet', href='build.css')
    //link(rel='stylesheet', href=base_url + '/custom/css')

    link(rel='icon', type='image/ico', href=base_url + '/favicon.ico')
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    base(href=base_url + '/')


  body(ng-controller='PageCtrl')

    ng-include(src='"partials/header.html"')
    ng-include(src='"partials/alerts.html"')
    ng-include(src='"partials/popups.html"')

    input#ResourceUrl(type='hidden', value=resource_url)

    div.page(ng-view)

    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js')
    script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.1.4/angular.min.js')
    script(src='build.js')
    //script(src='custom/javascript')
    //script(src='components/build.js')
    script.
      require('jungles-panel')
