!!! 5
html(ng-app='jungles')
  head
    title Jungles Content Management
    link(rel='stylesheet', href='build.css')
    link(rel='icon', type='image/ico', href='favicon.ico')
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    base(href=base_url + '/')

  body(ng-controller='PageCtrl')

    ng-include(src='"partials/header.html"')
    ng-include(src='"partials/alerts.html"')
    ng-include(src='"partials/popups.html"')

    input#ResourceUrl(type='hidden', value=resource_url)

    div.page(ng-view)

    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js')
    script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.1.4/angular.js')
    script(src='build.js')
    script.
      require('jungles-panel')
