<h1>{{title}}</h1>

<ul ng-controller='AlertsCtrl' class='alerts' ng-show='warnings.length || errors.length'>

  <li class='warning' ng-repeat='warning in warnings'>
    {{warning.name}}: <span>{{warning.message}}</span>
  </li>

  <li class='error' ng-repeat='error in errors'>
    {{error.name}}: <span>{{error.message}}</span>
  </li>

</ul>

<form name='form' novalidate>

  <input type='hidden' ng-model='data.type' />
  <input type='hidden' ng-model='data.parent' />
  <input type='hidden' ng-model='data.path' />

  <fieldset>

    <legend>Default</legend>

    <div>
      <label for='id_name'>Name:</label>
      <input id='id_name' type='text' ng-model='data.name' required />
    </div>

    <div>
      <label for='id_order'>Order:</label>
      <input id='id_order' type='number' ng-model='data.order' step='1' required />
    </div>

  </fieldset>

  <div ng-include='form_url'></div>

  <div class='actions'>
    <div class='buttons'>
      <button ng-click='submit(data)' ng-disabled='form.$invalid'>Save</button>
      <button ng-click='cancel()'>Close</button>
    </div>
  </div>

</form>
