<table class='table' ng-controller='TypesCtrl'>
  <tr>
    <th colspan='1'>New</th>
  </tr>
  <tr ng-repeat='type in types' class='type'>
    <td ng-click='link("/new/" + type + "/" + path)'>+ {{type}}</td>
  </tr>
</table>

<table class='table'>
  <tr>
    <th colspan='4'>Content</th>
  </tr>
  <tr ng-repeat='instance in instances' ng-controller='InstanceCtrl'>
    <td ng-click='link(instance.path)'>{{instance.name}}</td>
    <td class='button' ng-click='link("/edit/" + instance.path)'>Edit</td>
    <td class='button' confirm-click='instance.remove()'>Remove</td>
  </tr>
</table>
