extend layout

block content
  h1= current.name

  .projects
    for child in reverse(current.children)
      .project
        h2= child.name
        .body!= markdown(child.body)

        if child.image
          img(src='/media/' + child.image)
